<small class="text-muted">
  <%= local_date_time webhook_event.created_at %>
</small>
<div>
  <small class="text-muted">
    <%= webhook_event.remote_ip %>
  </small>
</div>
<pre class="code-pre">
    <div data-beautifyjson-target="payloadJson" data-actual-json="<%= JSON.pretty_generate(webhook_event.payload) %>"/>
</pre>