<div class="row bg-white p-1 mt-3" id="<%= dom_id(webhook_event) %>" data-controller="beautifyjson">
  <% if local_assigns[:highlight] %>
    <div data-controller="highlight hascontent">
      <%= render 'webhook_events/content', webhook_event: webhook_event  %>
    </div>
  <% else %>
    <div>
      <%= render 'webhook_events/content', webhook_event: webhook_event  %>
    </div>
  <% end %>
</div>
