<div id="webhook_events">
  <%= turbo_stream_from subscriber, :webhook_events %>

  <% if subscriber.webhook_events.empty? %>
    Waiting on your first webhook event
  <% else %>
    <%= render subscriber.webhook_events.order('created_at DESC') %>
  <% end %>
</div>