<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Subscriber</li>
    <li class="breadcrumb-item active" aria-current="page">
      <%= @subscriber.name %>
    </li>
  </ol>
</nav>

<div class="row mt-2" data-controller="clipboard">
  <div class="col-auto pt-2 ms-5">
    <h5>Your unique URL</h5>
  </div>
  <div class="col-6">
    <input data-clipboard-target="source" class="form-control" type="text" value=<%= webhooks_create_url(subscriber_id: @subscriber.id) %> readonly>
    <small class="text muted">HTTP POST requests can be made to this URL</small>
  </div>
  <div class="col-auto mx-0 px-0">
    <button data-action="clipboard#copy" type="button" class="btn btn-default btn-copy js-tooltip js-copy mx-0 px-0" data-toggle="tooltip" data-placement="bottom" data-copy="john.doe@email.com" title="Copy to clipboard">
      <!-- icon from google's material design library -->
      <svg class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24">
        <path d="M17,9H7V7H17M17,13H7V11H17M14,17H7V15H14M12,3A1,1 0 0,1 13,4A1,1 0 0,1 12,5A1,1 0 0,1 11,4A1,1 0 0,1 12,3M19,3H14.82C14.4,1.84 13.3,1 12,1C10.7,1 9.6,1.84 9.18,3H5A2,2 0 0,0 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5A2,2 0 0,0 19,3Z"/>
      </svg>
    </button>
  </div>
</div>
<div id='event-wrapper' class="m-5 text-start">
  <h5>Requests</h5>
  <% if @subscriber.webhook_events.empty? %>
    <div id='no-webhook-events-message' class='text-info'>
      <p class="text-secondary">Still waiting on the first request</p>
    </div>
  <% else %>
    <%= link_to "Delete All Requests", subscriber_webhook_event_path(@subscriber, id: :all_events), data: { "turbo-method": :delete }, class: 'btn btn-danger' %>
  <% end %>
  <%= render 'webhook_events', subscriber: @subscriber %>
</div>
